<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Смена пароля</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('settings')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav('Настройки', null)}"></th:block>
</header>

<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
    <div class="container">
        <h2>Сменить пароль</h2>

<!--        <div th:if="${resultMessage}" th:text="${resultMessage}">Result Message</div>-->

        <div  th:text="${resultMessage}"></div>
<!--        th:if="${!#strings.isEmpty(resultMessage)}"-->

        <form th:action="@{/settings/change-password}" th:object="${passwordDTO}" method="post">
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

            <div class="form-group">
                <label for="currentPassword">Текущий пароль</label>
                <input type="password" id="currentPassword" name="currentPassword" th:field="*{currentPassword}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="newPassword">Новый пароль</label>
                <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Подтвердите новый пароль</label>
                <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="form-control" required />
            </div>

            <button type="submit" class="logout-btn">Сменить пароль</button> |
            <a th:href="@{/settings}" class="logout-btn">Назад</a>
        </form>
    </div>
</div>


</body>
</html>
