<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Change password - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <th:block th:replace="~{fragments/header :: left-nav('settings')}"></th:block>
        <th:block th:replace="~{fragments/header :: right-nav('Настройки', null)}"></th:block>
    </header>

    <div class="container container-chats">
        <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
        <div class="chat">
            <div class="new-chat-container change-password-container">
                <h2 class="h1-reg">Смена пароля</h2>

                <div th:if="${successMessage}" th:text="${successMessage}" class="input-success">Success Message</div>

                <form th:action="@{/change-password}" th:object="${passwordDTO}" method="post">
                    <ul>
                        <li class="li-with-error">
                            <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="input-error">Ошибка</div>
                            <div class="list-group-item">
                                Старый пароль
                                <input type="password" id="currentPassword" name="currentPassword" th:field="*{currentPassword}" class="input-reg" placeholder="OldPassword123" required />
                            </div>
                        </li>
                        <li class="li-with-error">
                            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="input-error">Ошибка</div>
                            <div class="list-group-item">
                                Новый пароль
                                <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" class="input-reg" placeholder="NewPassword123" required minlength="8" />
                            </div>

                        </li>
                        <li class="li-with-error">
                            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="input-error">Ошибка</div>
                            <div class="list-group-item">
                                Подтвердите новый пароль
                                <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="input-reg" placeholder="NewPassword123" required />
                            </div>
                        </li>
                    </ul>
                    <div class="btn-group-two-equal-btns">
                        <a th:href="@{/settings}" class="btn-reg">Отмена</a>
                        <button type="submit" class="btn-reg">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
