<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chats - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
    <meta name="user-email" th:content="${userEmail}"/>
    <th:block th:replace="~{fragments/header :: head}"></th:block>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('all')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav('Ваши чаты', null)}"></th:block>
</header>
<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chatsPage.content})}"></th:block>
    <div class="start-chat">
        <img th:src="@{/static/icons/start-chat.svg}"/>
        <p>Выберите чат и начните общение!</p>
    </div>
</div>
</body>
</html>