<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Group - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('group')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav('Редактировать группу', '/group-set?id=' + ${chat.id})}"></th:block>
</header>
<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
    <div class="chat-set">
        <div class="edit-group-container">
            <p class="h1-reg">Редактировать группу</p>
            <form th:action="@{/group/{id}/edit(id=${chat.id})}" method="post" class="ul-reg">
                <ul>
                    <li class="list-group-item item-reg">
                        Название группы
                        <input type="text" name="name" th:value="${chat.name}" class="input-reg" placeholder="Введите новое название" required/>
                    </li>
                </ul>
                <div class="btn-group">
                    <a th:href="@{/group-set?id=${chat.id}}" class="btn btn-reg">Отмена</a>
                    <button type="submit" class="btn btn-reg" style="margin-left: 80px;">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>