<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Direct Settings - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('group')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav(${chat.name}, ${chat != null ? '/group?id=' + chat.id : null})}"></th:block>
</header>
<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
    <div class="chat-set">
        <div class="main">
            <div class="div-messages">
                <ul class="messages">
                    <li th:each="message : ${messages}" th:class="${message.userSend} ? 'message user-send' : 'message-with-ava'">
                        <div th:if="${!message.userSend}" class="circle5"><img th:src="@{/static/icons/user.svg}"/></div>
                        <div class="message" th:classappend="${message.userSend} ? '' : 'message-without-ava'">
                            <div class="user-name" th:text="${message.senderUsername}"></div>
                            <span th:text="${message.content}"></span>
                            <div class="date-last-mess mess-date">
                                <p th:text="${message.date}"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="send-message">
                <form th:action="@{/chats/{id}/send(id=${chat.id})}" method="post" class="chat-send">
                    <a href="#" class="chat-list-item chat-list-item-sendfile"><img th:src="@{/static/icons/attach.svg}"/></a>
                    <input type="text" name="content" class="input-mess" placeholder="Текст в поле ввода"/>
                    <button type="submit" class="chat-list-item chat-list-item-sendmess"><img th:src="@{/static/icons/send.svg}"/></button>
                </form>
            </div>
        </div>
        <div class="add-set">
            <div class="ava">
                <div class="circle3"><img th:src="@{/static/icons/user.svg}"/></div>
            </div>
            <div class="cont-info cont-info-set">
                <li class="cont-name" th:text="${chat.name}"></li>
            </div>
            <ul class="settings">
                <li class="setting">
                    <a th:href="@{/group/{id}/edit(id=${chat.id})}" class="a-setting">
                        <img th:src="@{/static/icons/settings-icon.svg}"/>
                        <div class="setting-text">Настройки</div>
                    </a>
                </li>
                <li class="setting">
                    <form th:action="@{/direct/{id}/toggle-notifications(id=${chat.id})}" method="post" style="display: inline;">
                        <button type="submit" class="a-setting" style="background: none; border: none; padding: 0; cursor: pointer;">
                            <img th:src="@{/static/icons/notifications.svg}"/>
                            <div class="setting-text">Уведомления</div>
                            <div class="circle4" th:text="${notifications == T(com.project.messenger.model.NotificationLevel).ALL ? 'ВКЛ' : 'ВЫКЛ'}"></div>
                        </button>
                    </form>
                </li>
                <li class="setting">
                    <a th:href="@{/chat/{id}/files(id=${chat.id})}" class="a-setting">
                        <img th:src="@{/static/icons/files.svg}"/>
                        <div class="setting-text">Файлы</div>
                    </a>
                </li>
                <li class="setting">
                    <a th:href="@{/group/{id}/invite(id=${chat.id})}" class="a-setting">
                        <img th:src="@{/static/icons/plus.svg}"/>
                        <div class="setting-text">Добавить участников</div>
                    </a>
                </li>
                <li class="setting">
                    <a th:href="@{/group-list/{id}(id=${chat.id})}" class="a-setting">
                        <img th:src="@{/static/icons/members.svg}"/>
                        <div class="setting-text">Список участников</div>
                    </a>
                </li>
                <li th:if="${currentMember.isAdmin}" class="setting">
                    <form th:action="@{/chats/{id}/delete(id=${chat.id})}" method="post" class="a-setting">
                        <img th:src="@{/static/icons/trash.svg}"/>
                        <button type="submit" class="setting-text">Удалить чат</button>
                    </form>
                </li>
                <li th:if="${!currentMember.isAdmin}" class="setting">
                    <form th:action="@{/group/{id}/leave(id=${chat.id})}" method="post" class="a-setting">
                        <img th:src="@{/static/icons/leave.svg}"/>
                        <button type="submit" class="setting-text">Покинуть</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>