<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Invite to Group - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('group')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav('Пригласить в группу', null)}"></th:block>
</header>
<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
    <div class="chat">
        <div class="invite-container">
            <p class="h1-reg">Пригласить друзей</p>
            <div class="invite-link">
                <p>Поделитесь ссылкой:</p>
                <input type="text" th:value="${inviteLink}" class="input-reg" readonly/>
                <button class="btn btn-reg" onclick="navigator.clipboard.writeText('${inviteLink}')">Копировать ссылку</button>
            </div>
            <form th:action="@{/group/{id}/members/add(id=${chat.id})}" method="post" class="ul-reg">
                <ul>
                    <li class="list-group-item item-reg">
                        Участники
                        <div id="emailFields">
                            <input type="email" name="emails" class="input-reg" placeholder="Введите email участника"/>
                        </div>
                        <button type="button" class="btn btn-reg" onclick="addEmailField()">Добавить участника</button>
                    </li>
                </ul>
                <div class="btn-group">
                    <button type="submit" class="btn btn-reg">Пригласить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function addEmailField() {
        const emailFields = document.getElementById("emailFields");
        const newField = document.createElement("input");
        newField.type = "email";
        newField.name = "emails";
        newField.className = "input-reg";
        newField.placeholder = "Введите email участника";
        emailFields.appendChild(newField);
    }
</script>
</body>
</html>