<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Invite Link - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header :: left-nav('group')}"></th:block>
    <th:block th:replace="~{fragments/header :: right-nav('Пригласительная ссылка', null)}"></th:block>
</header>
<div class="container container-chats">
    <th:block th:replace="~{fragments/chat-list :: chat-list(${chats})}"></th:block>
    <div class="chat">
        <div class="invite-link-container">
            <p class="h1-reg">Пригласительная ссылка</p>
            <div class="invite-link">
                <input type="text" th:value="${inviteLink}" class="input-reg" readonly/>
                <button class="btn btn-reg" onclick="navigator.clipboard.writeText('${inviteLink}')">Копировать</button>
            </div>
            <p>Поделитесь этой ссылкой, чтобы пригласить друзей в группу.</p>
        </div>
    </div>
</div>
</body>
</html>