<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register - Messenger</title>
    <link th:href="@{/static/site.css}" rel="stylesheet"/>
</head>
<body>
<div class="container container-reg">
    <p class="h1-reg">Регистрация</p>
    <p class="error" th:text="${error}"></p>
    <form th:action="@{/register}" method="post" class="ul-reg">
        <ul>
            <li class="list-group-item item-reg">
                Email<input type="email" name="email" class="input-reg" placeholder="Введите Ваш Email" required/>
            </li>
            <li class="list-group-item item-reg">
                Пароль<input type="password" name="password" class="input-reg" placeholder="Введите Ваш Пароль" required/>
            </li>
            <li class="list-group-item item-reg">
                Имя<input type="text" name="username" class="input-reg" placeholder="Введите Ваше Имя" required/>
            </li>
        </ul>
        <div class="btn-group-two-equal-btns">
            <a th:href="@{/login}" class="btn-reg">Войти</a>
            <button type="submit" class="btn-reg">Зарегистрироваться</button>
        </div>
    </form>
</div>
</body>
</html>