<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="chat-list(chats)">
    <div class="chat-list">
        <div class="chat-list-search">
            <a th:href="@{/chats/new(page=${chatsPage.number}, size=${chatsPage.size})}" class="chat-list-item chat-list-item-plus">
                <div class="circleAddChat"><img th:src="@{/static/icons/plus.svg}" alt="New Chat"/></div>
            </a>
            <form th:action="@{/chats/search(page=${chatsPage.number}, size=${chatsPage.size})}" method="get" class="search-form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="text" class="input-chat" id="chatName" name="chatName" th:value="${chatName}" placeholder="Поиск чата..." required/>
                <a th:if="${chatName != null and !#strings.isEmpty(chatName)}" th:href="@{/chats(page=${chatsPage.number}, size=${chatsPage.size})}" class="chat-list-item">
                    <img th:src="@{/static/icons/trash.svg}" alt="X"/>
                </a>
                <button type="submit" class="chat-list-item"><img th:src="@{/static/icons/search.svg}" alt="Search"/></button>
            </form>
        </div>
        <ul id="chats-list" class="chats-ul"
            th:attr="data-page=${chatsPage.number},
                    data-size=${chatsPage.size},
                    data-total-pages=${chatsPage.totalPages},
                    data-chat-type=${chatType != null} ? ${chatType} : ''">
            <li class="item-li" th:each="chat : ${chats}" th:attr="data-chat-id=${chat.id}, data-user-email=${chat.isPersonal} ? ${chat.recipientEmail} : '', data-chat-type=${chat.type}">
                <a th:href="@{${chat.isPersonal} ? '/direct' : '/group'(id=${chat.id}, page=${chatsPage.number}, size=${chatsPage.size})}"
                   th:classappend="${chat.active} ? 'chats-item active-item' : 'chats-item'">
                    <div class="circle">
                        <th:block th:if="${chat.type == T(com.project.messenger.model.ChatType).GROUP}">
                            <img th:if="${chat.avatar != null}" th:src="@{${chat.avatar}}" alt="Avatar"/>
                            <img th:unless="${chat.avatar != null}" th:src="@{/static/icons/group.svg}" alt="Default Avatar"/>
                        </th:block>
                        <th:block th:if="${chat.type == T(com.project.messenger.model.ChatType).PERSONAL}">
                            <img th:if="${chat.avatar != null}" th:src="@{${chat.avatar}}" alt="Avatar"/>
                            <img th:unless="${chat.avatar != null}" th:src="@{/static/icons/user.svg}" alt="Default Avatar"/>
                        </th:block>
                    </div>
                    <ul class="mess-info">
                        <li class="guy-mess">
                            <span th:text="${chat.name}"></span>
                            <span th:if="${chat.isPersonal and chat.recipientEmail != null}" class="online-indicator-name" th:attr="data-user-email=${chat.recipientEmail}"></span>
                        </li>
                        <li class="last-mess" th:text="${chat.lastMessage}"></li>
                    </ul>
                    <div class="date-last-mess">
                        <div class="circleUnreadCount" th:if="${chat.unreadCount > 0}" th:text="${chat.unreadCount}"></div>
                        <p th:text="${chat.lastMessageDate}"></p>
                    </div>
                </a>
            </li>
            <li id="sentinel" style="height: 1px; list-style: none;"></li>
        </ul>
        <div id="loading" style="display: none; text-align: center; padding: 10px;">
            <span class="spinner"></span> Загрузка...
        </div>
    </div>
</th:block>
</body>
</html>